.cards {  
    
    display: grid;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    justify-content: space-around;
    grid-gap: 5rem;
    padding: 10px ;
    text-decoration: none;
    
    
}

.card {
    grid-column: span 1;
}